.carousel-caption {
    position: absolute;
    color: #fff;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-control-next {
    right: 0;
    visibility: hidden;
}

.carousel-control-prev {
    left: 0;
    visibility: hidden;
}